.bg-dark-grey {
  background-color: #313131;
}

.bg-grey {
  background-color: #ccc;
}

.bg-white {
  background-color: #fafafa;
  color: #1c1d21;
}

.bg-black {
  background-color: #1c1d21;
  color: #fafafa;
}

.bg-red {
  background-color: #c62828;
  color: #fafafa;
}

.bg-purple {
  background-color: #423bf7;
  color: #fafafa;
}

.bg-primary {
  background-color: #e1f5fe;
}

.bg-success {
  background-color: #36d17c;
  color: #1c1d21;
}

.bg-info {
  background-color: #5886f5;
  color: #fafafa;
}

.bg-danger {
  background-color: #d9534f;
}

.bg-muted {
  background-color: #fafafa;
}

.tag-red {
  color: #c62828;
  background-color: #ffcdd2;
}

.tag-yellow {
  color: #a68b00;
  background-color: #fff0c2;
}

.tag-green {
  color: #388e3c;
  background-color: #c8e6c9;
}

.tag-blue {
  color: #2962ff;
  background-color: #e1f5fe;
}

.bg-gray-1 {
  background-color: #f9fbff;
}

.outline-gray1 {
  border-color: #f9fbff;
}

.bg-gray-2 {
  background-color: #f4f6fb;
}

.outline-gray2 {
  border-color: #f4f6fb;
}

.bg-gray-3 {
  background-color: #eef1f6;
}

.outline-gray3 {
  border-color: #eef1f6;
}

.bg-gray-4 {
  background-color: #e1e5ee;
}

.outline-gray4 {
  border-color: #e1e5ee;
}

.bg-gray-5 {
  background-color: #767b91;
}

.outline-gray5 {
  border-color: #767b91;
}

.bg-gray-6 {
  background-color: #4f546c;
}

.outline-gray6 {
  border-color: #4f546c;
}

.bg-gray-7 {
  background-color: #2a324b;
}

.outline-gray7 {
  border-color: #2a324b;
}

.bg-gray-8 {
  background-color: #161d34;
}

.outline-gray8 {
  border-color: #161d34;
}

.outline-purple {
  border-color: #423bf7;
}

.outline-blue {
  border-color: #5886f5;
}

.outline-black {
  border-color: #1c1d21;
}

.bt-1 {
  border-top: 1px solid #fafafa;
}

.bb-1 {
  border-bottom: 1px solid #fafafa;
}

.bl-1 {
  border-left: 1px solid #fafafa;
}

.br-1 {
  border-right: 1px solid #fafafa;
}

.border-1 {
  border: 1px solid;
}

.bt-2 {
  border-top: 2px solid #fafafa;
}

.bb-2 {
  border-bottom: 2px solid #fafafa;
}

.bl-2 {
  border-left: 2px solid #fafafa;
}

.br-2 {
  border-right: 2px solid #fafafa;
}

.border-2 {
  border: 2px solid;
}

.bt-3 {
  border-top: 3px solid #fafafa;
}

.bb-3 {
  border-bottom: 3px solid #fafafa;
}

.bl-3 {
  border-left: 3px solid #fafafa;
}

.br-3 {
  border-right: 3px solid #fafafa;
}

.border-3 {
  border: 3px solid;
}

.bt-4 {
  border-top: 4px solid #fafafa;
}

.bb-4 {
  border-bottom: 4px solid #fafafa;
}

.bl-4 {
  border-left: 4px solid #fafafa;
}

.br-4 {
  border-right: 4px solid #fafafa;
}

.border-4 {
  border: 4px solid;
}

.bt-5 {
  border-top: 5px solid #fafafa;
}

.bb-5 {
  border-bottom: 5px solid #fafafa;
}

.bl-5 {
  border-left: 5px solid #fafafa;
}

.br-5 {
  border-right: 5px solid #fafafa;
}

.border-5 {
  border: 5px solid;
}

.round-0 {
  border-radius: 0px;
}

.round-btl-0 {
  border-top-left-radius: 0px;
}

.round-btr-0 {
  border-top-right-radius: 0px;
}

.round-bbl-0 {
  border-bottom-left-radius: 0px;
}

.round-bbr-0 {
  border-bottom-right-radius: 0px;
}

.round-1 {
  border-radius: 5px;
}

.round-btl-1 {
  border-top-left-radius: 5px;
}

.round-btr-1 {
  border-top-right-radius: 5px;
}

.round-bbl-1 {
  border-bottom-left-radius: 5px;
}

.round-bbr-1 {
  border-bottom-right-radius: 5px;
}

.round-2 {
  border-radius: 10px;
}

.round-btl-2 {
  border-top-left-radius: 10px;
}

.round-btr-2 {
  border-top-right-radius: 10px;
}

.round-bbl-2 {
  border-bottom-left-radius: 10px;
}

.round-bbr-2 {
  border-bottom-right-radius: 10px;
}

.round-3 {
  border-radius: 15px;
}

.round-btl-3 {
  border-top-left-radius: 15px;
}

.round-btr-3 {
  border-top-right-radius: 15px;
}

.round-bbl-3 {
  border-bottom-left-radius: 15px;
}

.round-bbr-3 {
  border-bottom-right-radius: 15px;
}

.round-4 {
  border-radius: 20px;
}

.round-btl-4 {
  border-top-left-radius: 20px;
}

.round-btr-4 {
  border-top-right-radius: 20px;
}

.round-bbl-4 {
  border-bottom-left-radius: 20px;
}

.round-bbr-4 {
  border-bottom-right-radius: 20px;
}

.round-5 {
  border-radius: 25px;
}

.round-btl-5 {
  border-top-left-radius: 25px;
}

.round-btr-5 {
  border-top-right-radius: 25px;
}

.round-bbl-5 {
  border-bottom-left-radius: 25px;
}

.round-bbr-5 {
  border-bottom-right-radius: 25px;
}

.selected {
  border: 2px solid #5886f5;
  border-radius: 5px;
  padding: 2px;
}

.tag-outline {
  border: 2px solid #1c1d21;
  border-radius: 5px;
  padding: 2px;
}
/*# sourceMappingURL=borders.css.map */