@import "colors";

@for $i from 1 through 5 {
  .bt-#{$i} {
    border-top: #{$i}px solid $muted;
  }

  .bb-#{$i} {
    border-bottom: #{$i}px solid $muted;
  }

  .bl-#{$i} {
    border-left: #{$i}px solid $muted;
  }

  .br-#{$i} {
    border-right: #{$i}px solid $muted;
  }

  .border-#{$i} {
    border: #{$i}px solid;
  }
}

@for $i from 0 through 5 {
  .round-#{$i} {
    border-radius: #{$i * 5}px;
  }
  .round-btl-#{$i} {
    border-top-left-radius: #{$i * 5}px;
  }
  .round-btr-#{$i} {
    border-top-right-radius: #{$i * 5}px;
  }
  .round-bbl-#{$i} {
    border-bottom-left-radius: #{$i * 5}px;
  }
  .round-bbr-#{$i} {
    border-bottom-right-radius: #{$i * 5}px;
  }
}

.selected {
  border: 2px solid $info;
  border-radius: 5px;
  padding: 2px;
}

.tag-outline {
  border: 2px solid $black;
  border-radius: 5px;
  padding: 2px;
}
