input[type="range"] {
    display: inline-table;
    outline: 0;
    border: 0;
    border-radius: 10px;
    width: 60%;
    margin: 24px 0 16px;
    transition: box-shadow 0.2s ease-in-out;
    // Chrome
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        & {
            overflow: hidden;
            height: 10px;
            -webkit-appearance: none;
            background-color: #ddd;
        }
        &::-webkit-slider-runnable-track {
            height: 40px;
            -webkit-appearance: none;
            color: #444;
            margin-top: -1px;
            transition: box-shadow 0.2s ease-in-out;
        }
        &::-webkit-slider-thumb {
            width:1px;
            -webkit-appearance: none;
            height: 0px;
            cursor: ew-resize;
            background: #fff;
            box-shadow: -100px 0 0 100px #f00, inset 0 0 0 40px #f00;
            border-radius: 50%;
            transition: box-shadow 0.2s ease-in-out;
            position: relative;
            // top: 1px;
        }
        &:active::-webkit-slider-thumb {
            background: #fff;
            box-shadow: -140px 0 0 120px #f00, inset 0 0 0 3px #f00;
        }
    }
    // Firefox
    &::-moz-range-progress {
        background-color: #43e5f7; 
    }
    &::-moz-range-track {  
        background-color: #9a905d;
    }
    // IE
    &::-ms-fill-lower {
        background-color: #43e5f7; 
    }
    &::-ms-fill-upper {  
        background-color: #9a905d;
    }
}


input:not(:active) + #h4-container h4 {
opacity: 0;
margin-top: -50px;
pointer-events: none;
}