@import "colors";

@font-face {
  font-family: "Circular";
  src: url(../../Client/static/fonts/CircularStd-Book.otf) format("opentype");
  font-display: fallback;
}

@font-face {
  font-family: "Circular-Bold";
  src: url(../../Client/static/fonts/CircularStd-Bold.otf) format("opentype");
  font-display: fallback;
}

$heading-font-family: "Circular-Bold", sans-serif;
$body-font-family: "Circular", sans-serif;

body {
  font-family: "Circular";
  font-size: 14px;
  font-weight: normal;
}

@for $i from 1 through 6 {
  .text-#{$i} {
    font-size: #{$i}em;
  }

  h#{$i} {
    font-size: #{$i}em;
    font-family: "circular-Bold";
  }

  .display-#{$i} {
    font-size: #{$i * 2}em;
    font-family: "circular-Bold";
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 600;
}

.text-normal {
  font-weight: 400;
}

.text-info {
  color: $info;
}

.text-black {
  color: $black;
}

.text-darkgrey {
  color: $dark-grey;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: $grey;
}

.text-green {
  color: $success;
}

.text-purple {
  color: $purple;
}

.text-red {
  color: $clr-unpaid-font;
}

.text-upper {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}

.fw-b {
  font-family: $heading-font-family;
}

.link {
  font-family: $heading-font-family;
  text-decoration: underline;
}
